---
import Layout from "../layouts/Layout.astro";
import StudentsList from "../components/StudentsList.astro";
import { supabase } from "../lib/supabase";

// Get the access and refresh tokens from cookies
const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

// If either token is missing, redirect to the sign-in page
if (!accessToken || !refreshToken) {
    return Astro.redirect("/signin");
}

// Attempt to set the session using the tokens
let session;
try {
    session = await supabase.auth.setSession({
        refresh_token: refreshToken.value,
        access_token: accessToken.value,
    });

    // If there is an error setting the session, delete the cookies and redirect to sign-in
    if (session.error) {
        Astro.cookies.delete("sb-access-token", { path: "/" });
        Astro.cookies.delete("sb-refresh-token", { path: "/" });
        return Astro.redirect("/signin");
    }
} catch (error) {
    // If an error occurs, delete the cookies and redirect to sign-in
    Astro.cookies.delete("sb-access-token", { path: "/" });
    Astro.cookies.delete("sb-refresh-token", { path: "/" });
    return Astro.redirect("/signin");
}
---

<Layout title="Inicio">
    <section>
        <h2>PETICIONES DE OPORTUNIDAD PARA ARTÍCULO 35</h2>
        <StudentsList />
    </section>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-wrap: pretty;
    }
    h2 {
        font-size: 34px;
        font-family: roboto, serif, sans-serif;
        font-weight: bold;
        align-self: center;
        color: #64748b;
    }
</style>
