---
import Layout from "../layouts/Layout.astro";

// Handle session
const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return Astro.redirect("/signin");
}
return Astro.redirect("/home");
---

<Layout title="index">
  <p>Loading...</p>
</Layout>
