---
import udgLogo from "../assets/Escudo_UdG.svg";
import logOutIcon from "../assets/logout.svg";
---
<header class="shadow-lg">
    <a href="/">
        <img
            src={udgLogo.src}
            alt="Escudo UDG"
            class="w-6 h-8"
        />
    </a>
    <button id="sign-out">
        <img src={logOutIcon.src} alt="Cerrar sesión" />
        Cerrar sesión
    </button>
</header>

<style>
    header {
        border-radius: 0.25rem;
        height: 3rem;
        padding: 1rem;
        top: 0;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
    }
    #sign-out {
        display: flex;
        align-items: center;
        color: #2d3c5a;
        padding: 0.25rem;
        gap: 0.5rem;
    }
    #sign-out:hover {
        opacity: 0.5;
    }
</style>

<script>
    import { API_ROUTES } from "../lib/apiRoutes";
    const signOutButton = document.getElementById("sign-out");

    // Sign out button click event
    if (signOutButton) {
        signOutButton.addEventListener("click", async () => {
            const confirmSignOut = confirm("¿Cerrar sesión?");
            if (!confirmSignOut) {
                return;
            }
            try {
                const response = await fetch(API_ROUTES.AUTH_SIGNOUT);
                if (response.ok) {
                    window.location.href = "/"; // Redirect to sign-in page if sign out is successful
                } else {
                    alert("Error al cerrar sesión");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error al cerrar sesión");
            }
        });
    }
</script>
