---
import type { Student } from "../types/types";

// Fetch student data from the API
let students: Student[] = [];
try {
    const response = await fetch("http://localhost:4321/api/students_info/requests");

    if (!response.ok) {
        console.error("Error fetching academic records");
    } else {
        // Parse the response as JSON and cast it to the `Student[]` type
        students = (await response.json()) as Student[];
    }
} catch (err) {
    console.error("Fetch error:", err);
}
---

<!-- If there are students, display them in a list -->
{students.length > 0 ? (
    <ul>
        {students.map((student) => (
            <li>
                <strong>{student.name}</strong>

                <ul>
                    {student.subjects.map((subject, index) => (
                        <li>{subject.name}</li>
                    ))}
                </ul>
                {(student.subjects[0] && student.subjects[0].status  === "under_review") ? (
                    <p>Estado: Pendiente</p>
                ) : (
                    <p>Estado: {student.subjects[0].status}</p>
                )}

                <a href={`/students/${student.student_id}`}>Detalles</a>
            </li>
        ))}
    </ul>
) : (
    <p>No student records available.</p>
)}