---
import Layout from "../../layouts/Layout.astro";
import StudentInformation from "../../components/StudentInformation.astro";
import StatusHandler from "../../components/StatusHandler.astro";

// Extract the `id` parameter from the Astro route (selected student)
const { id } = Astro.params;
---

<Layout title="Detalles del estudiante">
    <div>
        <StudentInformation id={id}/>
        <StatusHandler id={id} />
    </div>
</Layout>