---
import Layout from "../../layouts/Layout.astro";
import StudentInformation from "../../components/StudentInformation.astro";
import StatusHandler from "../../components/StatusHandler.astro";
import StudentFiles from "../../components/StudentFiles.astro";
import StudentStatement from "../../components/StudentStatement.astro";

// Extract the `id` parameter from the Astro route (selected student)
const { id } = Astro.params;
---

<Layout title="Detalles del estudiante">
    <div>
        <StudentInformation id={id}/>
        <StudentFiles id={id} client:load />
        <StudentStatement id={id} client:load />
        <StatusHandler id={id} />
    </div>
</Layout>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>